@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://source.unsplash.com/1600x900/?magic,castle');
  background-size: cover;
  background-attachment: fixed;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* .font-futuristic { */
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Rajdhani', sans-serif; */


/* } */

/* @font-face {
  font-family: 'Harry P';
  src: url('/fonts/HarryP.ttf') format('truetype');
}

@font-face {
  font-family: 'Lumos';
  src: url('/fonts/Lumos.ttf') format('truetype');
} */

/* 
@font-face {
  font-family: "HarryP";
  src: url("/fonts/HARRYP__.TTF") format("truetype");
}

@font-face {
  font-family: "Lumos";
  src: url("/fonts/LUMOS.TTF") format("truetype");
}

.font-harryp {
  font-family: "HarryP", sans-serif;
}

.font-lumos {
  font-family: "Lumos", serif;
} */


@font-face {
  font-family: "HarryP";
  src: url("../public/fonts/HarryP.TTF") format("truetype");
}

@font-face {
  font-family: "Lumos";
  src: url("../public/fonts/Lomus.TTF") format("truetype");
}

.font-harryp {
  font-family: "HarryP", sans-serif;
}

.font-lumos {
  font-family: "Lumos", serif;
}


.bg-parchment {
  background-image: url('../src/images/parchment.jpg');
  background-size: cover;
  background-position: center;
}

/* index.css */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes fly {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-clouds {
  animation: float 10s infinite ease-in-out;
}

.animate-candles {
  animation: float 5s infinite ease-in-out;
}

.animate-owls {
  animation: fly 15s linear infinite;
}



.glow-pulse {
  animation: glow 2s infinite;
}

@keyframes glow {
  0%, 100% { box-shadow: 0 0 10px rgba(255, 215, 0, 0.7); }
  50% { box-shadow: 0 0 20px rgba(255, 215, 0, 0.9); }
}